<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>details</title>-->
<!--</head>-->
<!--<body>-->


<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
           <img src="{{movdes.img.url}}" width="200" height="300">
        </div>
        <div class="col-md-9">
            <h3>{{movdes.name}}</h3>
            <h6>{{movdes.dec}}</h6>
            <h6>Year : {{movdes.year}}</h6>
                    <a  class= "btn btn-warning" href=" {% url 'movie_app:edit' movdes.id %}"> Edit</a>
                    <a  class= "btn btn-danger" href=" {% url 'movie_app:delete' movdes.id %}"> Delete</a>
        </div>
    </div>
</div>
    {% endblock %}